.full-width {
 width: 100%;
}
.full-height {
 height: 100%;
}
.full-size {
 width: 100%;
 height: 100%;
}
.font, button, input, body, html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  font-size: 14px;
  line-height: normal;
}
.background, button, input {
  background-color: #222222;
}
.color, button, input  {
  color: #eeeeee;
}
.inverted, .selected, .router-link-active div, button, input{
  color: #222222;
  background-color: #eeeeee;
}
.selected, .router-link-active div, button, input {
  padding: 2px;
  margin: 0;
  display: block;
}
.selected {
  width: 100%;
}
button, input {
  border: none;
  text-decoration: none;
}
div {
  line-height: normal;
}
body, html, .router-link, a {
  color: #eeeeee;
  background-color: #222222;
}

.img-orientation-1, .img-horizontal {
}
.img-orientation-2, .img-horizontal-mirror {
  transform: scale(-1,1);
}
.img-orientation-3, .img-rotate-180 {
  transform: rotate(180deg);
}
.img-orientation-4, .img-vertical-mirror {
  transform: scale(1,-1);
}
.img-orientation-5, .img-horizontal-mirror-rotate-270-cw {
  transform: scale(-1,1) rotate(270deg);
}
.img-orientation-6, .img-rotate-90-cw {
  transform: rotate(90deg);
}
.img-orientation-7, .img-horizontal-mirror-rotate-90-cw {
  transform: scale(-1,1) rotate(90deg);
}
.img-orientation-8, .img-rotate-270-cw {
  transform: rotate(270deg);
}
