table {
  padding:0;
  margin:0;
}
table td, table th{
  padding: 4px 8px;
}
.overflow-hidden {
  overflow: hidden;
}
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.full-width {
 width: 100%;
}
.full-height {
 height: 100%;
}
.full-size {
 width: 100%;
 height: 100%;
}
.margin-t, .margin-tl {
  margin-top: 32px;
}
.margin-r, .margin-rb {
  margin-right: 32px;
}
.margin-b, .margin-rb {
  margin-bottom: 32px;
}
.margin-l, .margin-tl {
  margin-left: 32px;
}

.padding-t, .padding-tl, .padding-a {
  padding-top: 16px;
}
.padding-r, .padding-rb, .padding-a {
  padding-right: 16px;
}
.padding-b, .padding-rb, .padding-a {
  padding-bottom: 16px;
}
.padding-l, .padding-tl, .padding-a {
  padding-left: 16px;
}
.section-border-b, .section-border-t,  .section-border-l,  .section-border-r {
  border-color: #2F4E37;
  border-style: solid;
  border-width: 0;
}
.section-border-b {
  border-bottom-width: 1px;
}
.section-border-t {
  border-top-width: 1px;
}
.section-border-l {
  border-left-width: 1px;
}
.section-border-r {
  border-right-width: 1px;
}

.font, button, input, body, html {
  font-family: "Muli","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  /*font-family: Avenir, Helvetica, Arial, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
}
.background, button, input {
  background-color: #222222;
}
.color, button, input  {
  color: #cccccc;
}
.inverted {
  background-color: #cccccc;
  color: #222222;
}
h1, h2, h3, h4 {
  padding: 8px 8px 8px 8px;
}
.selectable-padding, .selectable, .activable {
  padding: 8px 8px 8px 8px;
}
.selectable-color:hover, .selectable:hover, .selectable-hover-background, .activable:hover, .custom-scrollbar {
  background-color: #273129;
}
.selected {
  color: #cccccc;
  background-color: #2F4E37;
}
.activable {
  border-left: 4px solid transparent;
}
.active, .router-link-active div, h1, h2, h3, h4 {
  color: #49B865;
  background-color: #222222;
}
.active, .router-link-active div {
  padding: 8px;
  margin: 0;
  display: block;
  border-left: 4px solid #49B865;
  font-weight: bold;
}
input {
  background-color: #444444;
}
div, button, input {
  border: none;
  text-decoration: none;
}
div {
  line-height: normal;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body, html, .router-link, a {
  overflow: hidden;
  color: #cccccc;
  background-color: #222222;
}

.img-orientation-1, .img-horizontal {
}
.img-orientation-2, .img-horizontal-mirror {
  transform: scale(-1,1);
}
.img-orientation-3, .img-rotate-180 {
  transform: rotate(180deg);
}
.img-orientation-4, .img-vertical-mirror {
  transform: scale(1,-1);
}
.img-orientation-5, .img-horizontal-mirror-rotate-270-cw {
  transform: scale(-1,1) rotate(270deg);
}
.img-orientation-6, .img-rotate-90-cw {
  transform: rotate(90deg);
}
.img-orientation-7, .img-horizontal-mirror-rotate-90-cw {
  transform: scale(-1,1) rotate(90deg);
}
.img-orientation-8, .img-rotate-270-cw {
  transform: rotate(270deg);
}
::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.custom-scroll div::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.custom-scroll div {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.custom-scroll {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
}
.custom-scroll-content {
  margin: 0 5%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
.custom-scrollbar {
  flex-shrink: 0;
  position: relative;
  width: 16px;
  height: 100%;
  overflow: hidden;
}
.custom-scroll-cursor {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  background-color: #49B865;
}
