$foreground-color: #cccccc;
$background-color: #222222;
$error-color: #B84949;
$activable-color: #273129;
$active-color: #49B865;
$selection-color: #2F4E37;
$section-border-color: $selection-color;
$success-color: $active-color;
